@model OrganizationInfoViewModel
<div class="card flex-md-row mb-4 box-shadow h-md-250">
    <img class="card-img-left flex-auto d-none d-md-block mt-2" src="@Model.AvatarUrl" alt="@Model.Name" style="height: 100px;">
    <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
            <a class="text-dark" href="@Model.Apiurl">@Model.Name</a>
        </h3>
        <div class="mb-1 text-muted">@Model.Description</div>
        <a href="@Model.Blog">@Model.Blog</a>
    </div>
</div>
<div class="mb-3 text-center">
    <div class="row">
        @if (Model.Repositories != null)
        {
            @foreach (var item in Model.Repositories)
            {
                <div class="col-lg-6 col-md-12">
                    <div class="card mb-4 box-shadow">

                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@item.Name</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Updated At: @item.UpdatedAt.ToLocalTime().ToString()</li>
                                <li>Version: @item.LastVersion</li>
                            </ul>
                            <a href="@item.RepositoryURL" target="_blank" class="btn btn-lg btn-block btn-outline-primary">Go to Repository</a>
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>