@model ChangePasswordNotificationViewModel
@{
    Layout = "~/Areas/Admin/Views/EmailTemplates/_EmailsLayout.cshtml";
}
&nbsp; Hi
<br />
&nbsp; Your password has been successfully changed.
<br />
<br />
<div align="center"  style="font-family: Tahoma; font-size: 9pt">
    Username (for login): @Model.User.UserName
    <br />
    DisplayName: @Model.User.DisplayName
    <br />
    <br />
    You can also use the following address at any time to recover your forgotten password :
    <br />
    <div align="center">
        <a href="@Url.Action("Index","ForgotPassword", values: new {area = AreaConstants.AdminArea }, protocol: this.Context.Request.Scheme)">
            Recovery Password

        </a>
    </div>
</div>
<br />
<br />
&nbsp; Regards
<br />
&nbsp; <a style="direction:ltr" href="@Url.Action("Index", "Home", values: new {area = "" }, protocol: this.Context.Request.Scheme)"> @Model.EmailSignature </a>

<br />
<span lang="en" dir="ltr">
    &nbsp; &nbsp;
    @Model.MessageDateTime
</span>
<br />