@model List<IndexersViewModel>
@if (Model.Any())
{
	@foreach (var item in Model)
	{
		<div class="card bg-secondary text-white mb-1 mt-5">
			<div class="card-body">@item.NameServer</div>
		</div>
		foreach (var indexer in item.Indexers)
		{
			var color = indexer.Online ? "text-success" : "text-danger";
			var progressColor = indexer.Progress != "Error" ? "text-success" : "text-danger";
			if (indexer.BlocksLeftToSync >= 5)
			{
				progressColor = "text-warning";
			}
			<ol class="list-group list-group-numbered">
				<li class="list-group-item d-flex justify-content-between align-items-start mt-1 list-group-item-action">
					<div class="ms-2 me-auto">
						<div class="fw-bold">
							@indexer.Url
						</div>
						<div class="d-flex @progressColor">
							@indexer.Progress
						</div>
					</div>
					<span class="badge bg-primary rounded-pill">@indexer.Query</span>
				</li>
			</ol>

		}

	}
}