@using BlockcoreStatus.Entities.Github

@model IEnumerable<GithubOrganization>

@{
    ViewData["Title"] = "Organization Manager";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <partial name="_AllOrganizationsList" model="Model" />
    </div>
    <footer class="card-footer">
        <a class="btn btn-success" href="#" id="btnCreate">New Organization</a>
    </footer>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#btnCreate').click(function (e) {
                e.preventDefault(); 

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("AddOrganization", "OrganizationManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderOrganization", "OrganizationManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": 0 }),
                    loginUrl: '/Admin/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

            $("a[id^='btnEdit']").click(function (e) {
                e.preventDefault();
                var organizationId = $(this).data("edit-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("EditOrganization", "OrganizationManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderOrganization", "OrganizationManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": organizationId }),
                    loginUrl: '/Admin/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); 
                var organizationId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "OrganizationManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDeleteOrganization", "OrganizationManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": organizationId }),
                    loginUrl: '/Admin/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });
        });
    </script>
}