@using blockcore.status.Entities.Github
@model IEnumerable<GithubRepository>

@{
    var id = (string)this.Context.GetRouteValue("Id");
    var orgId = int.Parse(id);
    ViewData["Title"] = "Repository List";
}


<div class="card mb-5">
    <div class="card-header d-flex justify-content-between align-items-center">
        Select Repository to show in Home page
             <form method="post"
                  asp-controller="OrganizationManager"
                  asp-action="GetRepositoryInOrganization"
                  role="form"
                  data-ajax="true"
                  data-ajax-begin="dataAjaxBegin"
                  data-ajax-success="dataAjaxSuccess"
                  data-ajax-failure="dataAjaxFailure">
                <input hidden id="OrgId" name="OrgId" value="@orgId" />
                <button type="submit" class="btn btn-sm btn-primary">Get Repositories</button>
            </form>
 
    </div>
    <form method="post"
          asp-controller="OrganizationManager"
          asp-action="RepositoryInOrganization"
          role="form"
          data-ajax="true"
          data-ajax-begin="dataAjaxBegin"
          data-ajax-success="dataAjaxSuccess"
          data-ajax-failure="dataAjaxFailure">
        <input hidden id="OrgId" name="OrgId" value="@orgId" />
        <div class="card-body">
            <ul class="list-group w-100">
                @foreach (var item in Model)
                {
                    var selected = item.IsSelect ? "checked" : "";
                    <li class="list-group-item list-group-item-action">
                        <div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="@item.GithubRepositoryId" name="Repositories" value="@item.Name" @selected>
                                <label class="custom-control-label" for="@item.GithubRepositoryId">@item.Name</label>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>



